 
:root {  
    --primary-color: #07BEB8;  
    --secondary-color: #3DCCC7; 
    --accent1-color: #68D8D6;   
    --accent2-color: #9CEAEF;   
}  


body {  
    margin: 0;  
    font-family: 'Gidole', sans-serif; 
    color: var(--secondary-color); 
    max-width: 1200px; 
    margin-left: auto;  
    margin-right: auto;
}  


h1 {  
    font-family: 'Anton', sans-serif; 
    font-size: 3rem;  
    color: var(--accent1-color);  
    position: absolute; 
    top: 20%; 
    left: 5%; 
    z-index: 2; 
}  

h2 {  
    font-family: 'Anton', sans-serif; 
    font-size: 2.5rem;  
    color: var(--primary-color);  
}  

h3 {  
    font-family: 'Anton', sans-serif;  
    font-size: 2rem;  
    color: var(--primary-color);  
}  

 
p {  
    font-size: 1.2rem;  
    line-height: 1.5;  
    margin: 10px 0;  
}  


.hero {  
    position: relative; 
    height: 400px; 
    overflow: hidden; 
}  

.hero img {  
    display: block;  
    width: 100%; 
    height: auto; 
}  

article {  
    position: absolute;  
    bottom: 10%; 
    left: 5%; 
    background-color: rgba(255, 255, 255, 0.8);  
    padding: 20px;  
    border-radius: 5px;  
    z-index: 2;  
}  


.sociallinks {  
    display: flex;  
    justify-content: center; 
    margin-top: 10px; 
}  

.sociallinks a {  
    margin: 0 10px;  
}  


.sociallinks a {  
    text-decoration: none; 
}  

.sociallinks img {  
    width: 30px;  
    height: auto; /
}  

