nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display:block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height:auto;
    border:1px solid black;
    padding:2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px
}


=======
nav a {
    color: white;
    display:block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height:auto;
    border:1px solid black;
    padding:2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px
}

>>>>>>> 6ad4f530ef9761de138a41a27371453ab090839d